<%- include('components/head') %>

    <body>
        <%- include('components/nav') %>
            <div class="disable_div_cont_general">
                <h1>Pagina Deshabilitada</h1>
                <h2>@Rath Enterprises</h2>
            </div>
    </body>
    <script src="scripts/logout.js"></script>

    </html>