<%- include('components/head') %>

    <body>
        <%- include('components/nav') %>
            <div class="index_div_cont_general">
                <h1>Japanesse web practice</h1>
                <div class="index_div_cont_icono_home">
                    <svg class="index_icono_home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M 8 20 H 3 V 10 H 0 L 10 0 l 10 10 h -3 v 10 h -5 v -6 H 8 v 6 Z" />
                    </svg>
                </div>
            </div>
    </body>
    <script src="scripts/logout.js"></script>

    </html>