<%- include('components/head') %>

    </head>

    <body>
        <%- include('components/nav') %>
            <div class="tore_div_cont_general">
                <h1>--REGISTRARSE--</h1>
                <form id="tore_form" class="tore_form" action="">
                    <input id="inu" class="tore_inu entry" type="text" required autocomplete="off"
                        placeholder="Ingrese username ">

                    <input id="inc" class="tore_inc entry" type="password" required autocomplete="off"
                        placeholder="Ingrese contraseña">
                    <input id="incc" class="tore_incc entry" type="password" required autocomplete="off"
                        placeholder="Confirmar contraseña">

                    <button type="submit" id="bot" class="tore-boton-send">Enviar</button>
                </form>
            </div>
    </body>
    <script src="scripts/tosignup.js"></script>
    <script src="scripts/logout.js"></script>

    </html>