<%- include('components/head') %>

    </head>

    <body>
        <%- include('components/nav') %>
            <div class="si_div_cont_general">
                <h1>--Iniciar sesion</h1>
                <form id="si_form" class="si_form" action="">
                    <input id="inu" class="si_inu entry" type="text" required autocomplete="off"
                        placeholder="Ingrese username ">

                    <input id="inc" class="si_inc entry" type="password" required autocomplete="off"
                        placeholder="Ingrese contraseña">

                    <button type="submit" id="bot" class="si-boton-send">Enviar</button>
                </form>
            </div>
    </body>
    <script src="scripts/tosigin.js"></script>
    <script src="scripts/logout.js"></script>

    </html>